body {
	font-family: Helvetica;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 70px;
	color: white;
}


nav {
	color: white;
}

p {
	font-size: 14px;
	color: gray;
}

h2 {
	font-weight: bold;
	font-size: 32px;
}

h4 {
	font-size:23;
	font-weight: bold;
	color: white;
	background-image: url("../../images/the-flatiron-building.png");
}

a{
	color: white;
	font-size:18px;
}

.footer {
	font-size: 11px;
	color: white;
	background-color: dimgray;
	text-align: left;
}

.header {
	background-image: url("../../images/the-flatiron-building.png");
}

